
#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to bottom, #090a0c, #03051a);
    height: 45vw;
    padding: 150px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__contato {
    color: var(--azul-claro);
    margin-bottom: 30px;
    font-size: 3.5em;
}

.form__contato {
    width: 50em;
    margin-bottom: 20px;
}

.label__contato {
    display: block;
    margin-bottom: 10px;
    color: var(--azul-claro);
    font-size: 2em;
}

.form__contato input,
.form__contato textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid var(--azul-claro);
    border-radius: 8px;
    background-color: #333;
    color: var(--branco);
    font-size: 1.75em;
    transition: border-color 0.3s, background-color 0.3s;
    font-family: var(--fonte-principal);
}

.form__contato input:focus,
.form__contato textarea:focus {
    border-color: var(--branco);
    background-color: #444;
    outline: none;
}

.btn__contato {
    background-color: #02abc8;
    color: var(--branco);
    padding: 20px 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.75em;
    transition: background-color 0.3s, transform 0.3s;
}

.btn__contato:hover {
    background-color: #00b8e6;
    transform: scale(1.05);
}

.btn__contato:active {
    transform: scale(1);
}

#error-message {
    color: red;
    margin-top: 20px;
    font-size: 1.5em;
}