.rodape {
    background: linear-gradient(to bottom,#03051a 5%, #000000 95%);
    color: white;
    text-align: center;
    padding: 150px;
    height: 20vh;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container p {
    margin-top: 200px;
    font-size: 1.5em;
}
