#problema {
    background-image: url(../assets/FundoProblema.svg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    height: 45em;
    padding: 150px;

}

.titulo__problema {
    color: var(--azul-claro);
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 13px;
}

.caixa-texto__problema {
    border-radius: 25px;
    background-color: var(--cinza-escuro);
    width: 50%;
    padding: 4%;
}

.caixa-texto__problema p {
    color: var(--branco);
    font-size: 1.5em;
}
